<table class='invoices'>
  <caption><%= caption ||= 'Invoices' %></caption>
  <thead>
    <tr>
      <th>Sent date</th>
      <th class='price'>Billed</th>
      <th class='price'>Received</th>
      <th class='price'>Owed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% invoices.each do |invoice| %>
    <tr>
      <td><%= l invoice.sent_date %></td>
      <td class='price'><%= number_to_currency invoice.billed_amount %></td>
      <td class='price'><%= number_to_currency invoice.received_amount %></td>
      <td class='price'><%= number_to_currency invoice.owed_to_us %></td>
      <td class='link'><%= link_to_show invoice %></td>
      <td class='link'><%= link_to_edit edit_invoice_path(invoice) %></td>
      <td class='link'><%= link_to_destroy invoice %></td>
    </tr>
    <% end %>
    <tr class='totals'>
      <td class='totals'>
	<%= pluralize(invoices.count, 'invoice') %>
      </td>
      <td class="totals price">
	<%= number_to_currency Invoice.billed_amount(invoices) %>
      </td>
      <td class="totals price">
	<%= number_to_currency Invoice.received_amount(invoices) %>
      </td>
      <td class="totals price">
	<%= number_to_currency Invoice.owed_to_us(invoices) %>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
