<p id="notice"><%= notice %></p>

<h1>Details for Invoice</h1>
<p>
  <b>Sent date:</b>
  <%= @invoice.sent_date %>
  <br/>
  <b>Status:</b>
  <%= invoice_status(@invoice) %>
  <br/>
  <b>Owed to us:</b>
  <%= number_to_currency @invoice.owed_to_us %>
</p>

<%= render 'details' %>
