%h2 Invoice

= semantic_attributes_for(@invoice) do |attr|
  = attr.attributes do
    = attr.attribute :sent_date do
      - if @invoice.open?
        = "#{l @invoice.sent_date}, #{time_ago_in_words(@invoice.sent_date)} ago"
      - else
        = l @invoice.sent_date
    = attr.attribute :open do
      = invoice_status(@invoice)
    = attr.attribute :billed_amount, :format => :number_to_currency
    = attr.attribute :received_amount, :format => :number_to_currency
    = attr.attribute :owed_to_us, :format => :number_to_currency

= render 'extra', invoice: @invoice