%h2 Invoice

= semantic_attributes_for(@invoice) do |attr|
  = attr.attributes do
    = attr.attribute :sent_date do
      - if @invoice.open?
        = "#{l @invoice.sent_date}, #{time_ago_in_words(@invoice.sent_date)} ago"
      - else
        = l @invoice.sent_date
    = attr.attribute :open do
      = invoice_status(@invoice)
    = attr.attribute :billed_amount, :format => :number_to_currency
    = attr.attribute :received_amount, :format => :number_to_currency
    = attr.attribute :owed_to_us, :format => :number_to_currency

- if @invoice.auths.any?
  .data.stdTable
    = render 'auths/auths', auths:@invoice.auths.by_name

- if @invoice.payments.any?
  .data.stdTable
    = render 'payments/payments', payments:@invoice.payments

= link_to 'Add New Patient Authorization', new_invoice_auth_path(@invoice)
= link_to 'Add New Payment', new_payment_path
= link_to 'List Invoices', invoices_path
