%h2 Pricelist

= semantic_attributes_for(@pricelist) do |attr|
  = attr.attributes do 
    = attr.attribute :start_date
    = attr.attribute :note

.data.stdTable
  = render 'therapies/therapies', :therapies => @pricelist.therapies, caption:'Therapies'

= link_to 'Edit', edit_pricelist_path(@pricelist)
= link_to 'Back', pricelists_path
