= form_for @insurer do |f|
  -if @insurer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@insurer.errors.count, "error")} prohibited this insurer from being saved:"
      %ul
        - @insurer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :abbr
    = f.text_field :abbr
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :active_pricelist
    = f.text_field :active_pricelist
  .actions
    = f.submit 'Save'
