%p#notice= notice

%p
  %b Abbr:
  = @insurer.abbr
%p
  %b Name:
  = @insurer.name
%p
  %b Active pricelist:
  = link_to(@insurer.active_pricelist.start_date, @insurer.active_pricelist)

= link_to 'Edit', edit_insurer_path(@insurer)
\|
= link_to 'Back', insurers_path
