<p id="notice"><%= notice %></p>

<p>
  <b>Auth:</b>
  <%= @bill_item.auth %>
</p>

<p>
  <b>Therapy:</b>
  <%= @bill_item.therapy %>
</p>

<p>
  <b>Quantity:</b>
  <%= @bill_item.quantity %>
</p>

<p>
  <b>Unit price:</b>
  <%= @bill_item.unit_price %>
</p>

<p>
  <b>Total:</b>
  <%= @bill_item.total %>
</p>


<%= link_to 'Edit', edit_bill_item_path(@bill_item) %> |
<%= link_to 'Back', bill_items_path %>
