= semantic_form_for(@auth) do |f|
  = f.semantic_errors
  = f.hidden_field :invoice_id

  = f.inputs do
    = f.input :patient, :input_html => { :onchange => 'patientChanged(this);' }
    %div OR #{link_to 'Add a new patient', new_patient_path}
    = f.input :insurer
  = f.buttons
