<table class="auths">
  <caption><%= caption ||= 'Patient Authorizations' %></caption>
  <thead>
    <tr>
      <th>Patient</th>
      <th class="qty">Allowed sessions</th>
      <th class="qty">Used sessions</th>
      <th class="price">Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% auths.sort.each do |auth| %>
      <tr>
	<td><%= auth.patient.select_name %>
	<td class='qty'><%= auth.max_sessions %></td>
	<td class='qty'><%= auth.maximum_quantity %></td>
	<td class='price'><%= number_to_currency auth.total %></td>
	<td class='link'><%= link_to_show auth_path(auth) %></td>
	<td class='link'><%= link_to_edit edit_auth_path(auth) %></td>
	<td class='link'><%= link_to_destroy auth_path(auth) %></td>
      </tr>
    <% end -%>
    <tr class='totals'>
      <td class='totals'>
	<%= pluralize(auths.count, 'patient') %>
      </td>
      <td class='totals qty'>
	<%= Auth.max_sessions(auths) %>
      </td>
      <td class='totals qty'>
	<%= Auth.quantity(auths) %>
      </td>
      <td class="totals price">
	<%= number_to_currency Auth.total(auths) %>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
