<table class="auths">
  <caption><%= caption ||= 'Patient Authorizations' %></caption>
  <thead>
    <tr>
      <th>Patient</th>
      <th class="qty">Sess</th>
      <th class="qty">Used</th>
      <th class="price">Billed</th>
      <th class="price">Recd</th>
      <th class="price">Diff</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% auths.sort.each do |auth| %>
      <tr>
	<td><%= auth.patient.select_name %>
	<td class='qty'><%= auth.max_sessions %></td>
	<td class='qty'><%= auth.maximum_quantity %></td>
	<td class='price'><%= number_to_euro auth.total %></td>
	<td class='price'><%= number_to_euro auth.rec_amount %></td>
	<td class='price'><%= number_to_euro auth.diff %></td>
	<td class='link'><%= link_to_show auth_path(auth) %></td>
	<td class='link'><%= link_to_edit edit_auth_path(auth) %></td>
	<td class='link'><%= link_to_destroy auth_path(auth) %></td>
      </tr>
    <% end -%>
    <tr class='totals'>
      <td class='totals'>
	<%= pluralize(auths.count, 'patient') %>
      </td>
      <td class='totals qty'>
	<%= Auth.max_sessions(auths) %>
      </td>
      <td class='totals qty'>
	<%= Auth.quantity(auths) %>
      </td>
      <td class="totals price">
	<%= number_to_euro Auth.total(auths) %>
      </td>
      <td class="totals price">
	<%= number_to_euro Auth.rec_amount(auths) %>
      </td>
      <td class="totals price">
	<%= number_to_euro Auth.diff(auths) %>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
