<h1>Details for Patient Authorization</h1>
<p>
  <b>Patient:</b>
  <%= link_to @auth.patient.select_name, patient_path(@auth.patient) %>
  <br/>
  <% if !@auth.invoice.nil? %>
    <b>Part of invoice:</b>
    <%= link_to @auth.invoice.select_name, invoice_path(@auth.invoice) %>
  <br/>
  <% end -%>
  <b>Allowed Sessions:</b>
  <%= @auth.max_sessions %>
  <br/>
  <b>Used Sessions:</b>
  <%= @auth.maximum_quantity %>
  <br/>
  <b>Amount:</b>
  <%= number_to_currency @auth.total %>
</p>

<%= render :partial => 'bill_items/edit_bill_items', :locals => {
           :bill_items => @auth.bill_items } %>

<%= link_to 'New Patient Authorization', new_auth_path %> |
<% if !@invoice.nil? %>
<%= link_to 'Show current invoice', @invoice %> |
<% end %>
<%= link_to 'Show patients', patients_path %>

