= render 'auth', auth: @auth
= render 'bill_items/bill_items', bill_items: @auth.bill_items

= link_to 'Edit Authorization', edit_invoice_auth_path(@auth.invoice, @auth)
= link_to 'Edit therapies', new_auth_bill_item_path(@auth)
= link_to 'Show invoice', @auth.invoice

