<h1>Details for Auth</h1>
<p>
  <b>Patient:</b>
  <%= link_to @auth.patient.select_name, patient_path(@auth.patient) %>
  <br/>
  <b>Allowed Sessions:</b>
  <%= @auth.max_sessions %>
  <br/>
  <b>Used Sessions:</b>
  <%= @auth.bill_items.maximum(:quantity) %>
  <br/>
  <b>Amount:</b>
  <%= number_to_currency @auth.bill_items.sum(:total) %>
</p>

<%= render 'details' %>
