<h1>Listing patients</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Dob</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.first_name %></td>
    <td><%= patient.last_name %></td>
    <td><%= patient.dob %></td>
    <td class='link'><%= link_to_show patient %></td>
    <td class='link'><%= link_to_edit edit_patient_path(patient) %></td>
    <td class='link'><%= link_to_destroy patient %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @patients, :class => 'digg_pagination' %>

<br />

<%= link_to 'New Patient', new_patient_path %>
