<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @patient.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @patient.last_name %>
</p>

<p>
  <b>Dob:</b>
  <%= @patient.dob %>
</p>

<p>
  <b>Current Insurer:</b>
  <% insurer = @patient.current_insurer %>
  <%= link_to("#{insurer.name}", insurer) %>
</p>


<table>
  <tr>
    <th>Date</th>
    <th>Billed</th>
    <th>Received</th>
  </tr>
  <%= render @patient.auths %>
</table>

<%= link_to 'Add Auth', new_patient_auth_path(@patient) %> |
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
