%table
  %caption.h3= caption if local_assigns.has_key? :caption
  %thead
    %tr
      %th Code
      %th.txtR Price
      %th Short Desc
      %th Description
      %th

  %tbody
    - therapies.each do |therapy|
      %tr
        %td= therapy.code
        %td.txtR= number_to_currency therapy.price
        %td= therapy.short_description
        %td= therapy.description
        %td= link_actions_for(therapy)
