<table class="therapy">
  <caption>Therapies</caption>
  <thead>
    <tr>
      <th>Code</th>
      <th class='price'>Price</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @therapies.each do |therapy| %>
    <tr>
      <td><%= therapy.code %></td>
      <td class='price'><%= number_to_currency therapy.price %></td>
      <td><strong><%= therapy.short_description %></strong><br/>
      <%= therapy.description %></td>
      <td class='link'><%= link_to_edit edit_therapy_path(therapy) %></td>
      <td class='link'><%= link_to_destroy therapy %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @therapies, :class => 'digg_pagination' %>
<%= link_to 'New Therapy', new_therapy_path %>
