<h1>Therapy Billing Item</h1>
<p>
  <b>Code:</b>
  <%= @therapy.code %>
  <br/>
  <b>Price:</b>
  <%= number_to_currency @therapy.price %>
  <br/>
  <b>Short description:</b>
  <%= @therapy.short_description %>
  <br/>
  <b>Description:</b>
  <%= @therapy.description %>
  <br/>
  <b>Valid from:</b>
  <%= @therapy.valid_from %>
</p>


<%= link_to 'Edit', edit_therapy_path(@therapy) %> |
<%= link_to 'Back', :back %>
