<table class='payments'>
  <caption><%= caption ||= 'Payments' %></caption>
  <thead>
    <tr>
      <th>Received date</th>
      <th class='price'>Amount</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% payments.each do |payment| %>
    <tr>
      <td><%= l payment.rec_date %></td>
      <td class='price'><%= number_to_currency payment.amount %></td>
      <td class='link'><%= link_to_edit edit_payment_path(payment) %></td>
      <td class='link'><%= link_to_destroy payment %></td>
    </tr>
    <% end %>
    <tr class='totals'>
      <td class='totals'>
	<%= pluralize(payments.count, 'payment') %>
      </td>
      <td class="totals price">
	<%= number_to_currency Payment.amount(payments) %>
      </td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
