<table class='payments'>
  <caption><%= caption ||= 'Payments' %></caption>
  <thead>
    <tr>
      <th>Received date</th>
      <th class='price'>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% payments.each do |payment| %>
    <tr>
      <td><%= payment.rec_date %></td>
      <td class='price'><%= number_to_currency payment.amount %></td>
      <td class='link'></td>
      <td class='link'><%= link_to 'Edit', edit_payment_path(payment) %></td>
      <td class='link'><%= link_to 'Delete', payment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
    <tr class='totals'>
      <td class='totals'><%= pluralize(payments.count, 'payment') %></td>
      <td class="totals price"><%= number_to_currency payments.map(&:amount).sum %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
