<h1>Details for Payment</h1>
<p>
  <b>Invoice:</b>
  <%= l @payment.invoice.sent_date %>
  <br/>
  <b>Received date:</b>
  <%= l @payment.rec_date %>
  <br/>
  <b>Amount:</b>
  <%= number_to_currency @payment.amount %>
  <br/>
  <b>Notes:</b>
  <%= @payment.notes %>
</p>

<%= render 'auths/list_auths', :auths => @payment.auths %>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
