<h1>Details for Payment</h1>
<p>
  <b>Invoice:</b>
  <%= @payment.invoice.sent_date %>
  <br/>
  <b>Received date:</b>
  <%= @payment.rec_date %>
  <br/>
  <b>Amount:</b>
  <%= number_to_currency @payment.amount %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
