<header>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to t('.patients'), patients_path %></li>
      <li><%= link_to t(".invoices"), invoices_path %></li>
      <li><%= link_to t(".payments"), payments_path %></li>
      <li><%= link_to t(".therapies"), therapies_path %></li>
    </ul>
  </nav>
</header>
