%header.menu
  %nav
    %ul
      %li.selected= link_to 'Patients', patients_path
      %li= link_to 'Invoices', invoices_path
      %li= link_to 'Payments', payments_path
      %li= link_to 'Insurers', insurers_path
      %li= link_to 'Pricelists', pricelists_path
      %li= link_to 'Therapies', therapies_path
