<header>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Patients", patients_path %></li>
      <li><%= link_to "Invoices", invoices_path %></li>
      <li><%= link_to "Payments", payments_path %></li>
      <li><%= link_to "Therapies", therapies_path %></li>
    </ul>
  </nav>
</header>
